<%= render partial: 'layouts/partials/header' %>
<ul>
  <li><%= "ID: #{@coctaile.id}" %></li>
  <li><%= "Name: #{@coctaile.name}" %></li>
  <li><%= "Min value: #{@coctaile.value}" %></li>
  <li><%= "Cost price: #{@coctaile.price}" %></li>
  <li><%= "Have alcohol: #{@coctaile.have_alc}" %></li>
</ul>
<p>Ingredients</p>
  <hr>
<ul>
    <% @coctaile.ingredients.each do |ingredient| %>
      <li><%= "#{ingredient.product.name} #{ingredient.value}" %></li>
    <% end %>
</ul>
